<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="layout/base :: headerFragment">
    <title id="pageTitle">Naman's Store - Pair</title>
</head>
<body  th:include="layout/base :: bodyFragment">

<div id="pageContent">

    <div class="successCont">

        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 text-center">
                <div class="text-bold">Click the button below to Pair with Masterpass</div>
                <div><img id="btnMasterpass" src="https://static.masterpass.com/dyn/img/btn/global/mp_chk_btn_147x034px.svg"/></div>
            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div>
    <script  th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/

        function invokeLightBox(){

            MasterPass.client.connect({
                "requestPairing":true,                                                  //required
                "pairingRequestToken":[[${pairing_request_token}]],              //required
                "callbackUrl":"http://localhost:8080/pairSuccess",        //required
                "merchantCheckoutId":[[${checkout_id}]],
                "requestedDataTypes": ["ADDRESS", "PROFILE", "CARD"],  //required
                "requestExpressCheckout":true,
                "version":"v6"
            });



        }

        function initializeMasterpass(){

            $("#btnMasterpass").on("click",invokeLightBox);

        }


        (function(){

            initializeMasterpass();

        })();
        /*]]>*/
    </script>
</div>
</body>

</html>